* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

header {
    background-color: #1f4e79;
    color: white;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.8rem;
}

nav a:hover {
    background-color: #1f4e79;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
}

.about-layout {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.about-text {
    flex: 2;
}

.about-image {
    flex: 1;
    text-align: right;
}

.about-image img {
    max-width: 150px;
    border-radius: 8px;
}

.location-layout {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.location-layout img {
    width: 80px;
}


.card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
}

.card img {
    max-width: 100%;
    margin: 1rem 0;
}

footer {
    background-color: #1f4e79;
    color: white;
    text-align: center;
    padding: 1rem;
}

.card h2,
.card h3 {
    background-color: #1f4e79; /* azul del header */
    color: white;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    text-align: center;
}

.card img {
    max-width: 150px;
    height: auto;
}

.resources {
    text-align: center;
}

.resources ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resources li {
    margin: 0.5rem 0;
}

